@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary-color: #4b71fa;
  --primary-bg: aliceblue;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --primary-color: #4b71fa;
    --primary-bg: aliceblue;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  min-height: 100vh;
}

.main-page {
  padding: 30px;
  background-color: #f2f4f6;
  min-height: 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* overwrite tiny cloud */
.tox .tox-notification--warn,
.tox .tox-notification--warning,
.tox .tox-notification--warning {
  display: none !important;
}

.fr-wrapper > div:first-child {
  /* Các kiểu CSS của bạn */
  /* display: none !important; */
}

a[href*='froala'] {
  display: none !important;
}
